@using SmartERP.UI
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert" style="color: #ef4444; text-align: center; margin-top: 2rem; font-size: 1.2rem;">صفحه مورد نظر در سیستم یافت نشد.</p>
        </LayoutView>
    </NotFound>
</Router>
